@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    background-color: #213448;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    min-height: 3vh;
}

nav{
    display: flex;
    justify-content: center;
}

nav a{
    margin-right: 3rem;
    padding-top: 5px;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
}

nav a:hover{
    color: #94B4C1;
    border-bottom: 3px solid #7AAACE;
}

.hero{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('jay.jpg');
    background-position: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero h1{
    color: white;
    font-size: 50px;
}

.hero p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

button{
    background-color: #94B4C1;
    border: none;
    font-size: 16px;
    padding: 13px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

button:hover{
    background-color: #547792;
    transition: 0.3s;
}

.hobbies{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}

.row{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.hobbies-col{
    flex-basis: 350px;
    background: #94B4C1;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hobbies-col img{
    width: 100%;
    border-radius: 10px;
}

.hobbies-col h3{
    margin: 0;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: white;
    background-color: #213448;
}

.footer h4{
    margin-top: 20px;
    margin-bottom: 15px;
}

.footer p{
    margin: 0;
    margin-bottom: 20px;
}


